.experience{
    margin: 0;
    background-image: url(../imgs/experience.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}


.education{
    background-image: url(../imgs/education.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 800px;
}


.cuadrado{
    background-color: rgba(255, 255, 255,0.6);
    display: inline-block
}

.boxEducation{
    background-color: rgba(255, 255, 255,0.6);
    display: inline-block;
    
    
}

footer{
    display: flex;
    background-color: #1E1A13;
    color: #FFFFFF;
    height: 70px;
    padding: 39px;
    justify-content: center;
    align-items: center;
}